# Argyros redirecting from non-www to www
RewriteEngine on
RewriteCond %{HTTP_HOST} ^argyros.com.pa [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule (.*) https://www.argyros.com.pa%{REQUEST_URI} [L,R=301]

# Argyros redirecting from http to https
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_php5.c>
    #Session timeout
    php_value session.cookie_lifetime 86400
    php_value session.gc_maxlifetime 86400
</IfModule>

