<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://www.argyros.com.pa" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
